@model IEnumerable<HastaneRandevu.Models.Hasta>
<style>
    body {
        background-color: #ffff;
    }

    .container {
        background: #d0e7ff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    }
</style>
@{
    ViewData["Title"] = "Hasta Listesi";
}

<h1>Hasta Listesi</h1>

<p>
    <a asp-action="Create">Yeni Hasta Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.AdSoyadi)</th>
            <th>@Html.DisplayNameFor(model => model.KullaniciAdi)</th>
            <th>@Html.DisplayNameFor(model => model.TCKimlikNo)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.AdSoyadi)</td>
                <td>@Html.DisplayFor(modelItem => item.KullaniciAdi)</td>
                <td>@Html.DisplayFor(modelItem => item.TCKimlikNo)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detay</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
